{% extends './layout.njk' %}

{% block content %}

  <div class="container">

    <a class="waves-effect waves-light btn-large" href="#">Wave</a>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">这是一个链接</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">卡片标题<i class="material-icons right">close</i>
          </span>
          <p>单击后显示的产品的详细信息。</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">这是一个链接</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">卡片标题<i class="material-icons right">close</i>
          </span>
          <p>单击后显示的产品的详细信息。</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">这是一个链接</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">卡片标题<i class="material-icons right">close</i>
          </span>
          <p>单击后显示的产品的详细信息。</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">卡片标题<i class="material-icons right">more_vert</i>
          </span>
          <p>
            <a href="#">这是一个链接</a>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">卡片标题<i class="material-icons right">close</i>
          </span>
          <p>单击后显示的产品的详细信息。</p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}